# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

.java-version
.DS_Store

# certificates
/scripts/cert
/metric-commons/src/main/resources/certstore/ca.pem
/metric-commons/src/main/resources/certstore/service.cert
/metric-commons/src/main/resources/certstore/service.key