# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

.java-version
.DS_Store

# certificates
/scripts/certstore/ca.pem
/scripts/certstore/service.cert
/scripts/certstore/service.key
# certstores (needed for local run)
/metric-producer/src/main/resources/certstore/client.keystore.p12
/metric-producer/src/main/resources/certstore/client.truststore.jks
/metric-consumer/src/main/resources/certstore/client.keystore.p12
/metric-consumer/src/main/resources/certstore/client.truststore.jks